/* Global */
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


/* Header */
.h {
    display: flex;
    flex-direction: column; 
    background: #1F2937;
    color: white;
}

.h-top,
.h-bot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.h-bot__image {
    width: 400px;
    height: 200px;
    background: aqua;
}


/* PLACEHOLDER */
.main-i img {
    width: 15vw;
    height: 15vw;
    border: aqua 2px solid;
    border-radius: 10px;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-items {
    display: flex;
    flex-direction: row;
}

.main-i {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Quote */
.quote__ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Sign up */
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}