/* Global */
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


/* Header */
.h {
    display: flex;
    flex-direction: column; 
    background: #1F2937;
    color: white;
}

.h-top,
.h-bot {
    display: flex;
    justify-content: space-between;
    margin: 20px 140px 140px;
}

.h-top {
    align-items: center;
}

.h-top__logo {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.h-top__links {
    display: flex;
    gap: 18px;
    font-size: 18px;
    color: #F9FAF8;
}

.h-bot {
    gap: 32px;
}

.h-bot__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: baseline;
    font-size: 18px;
}

.h-bot__description-h {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.h-bot__image {
    flex-shrink: 0;
    width: 400px;
    height: 200px;
    border: gray 2px solid;
}

.h-bot__description-btn {
    padding: 10px 40px;
    background: #3882F6;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}


/* Main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    color: #1F2937;
}

.main-header {
    font-size: 36px;
    font-weight: bolder;
}

.main-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-i {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
    padding: 60px 30px;
    gap: 6px;
}

.main-i img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
}


/* Quote */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    background: #E5E7EB;
    color: #1F2937;
}

.quote__ctr {
    max-width: 800px;
}

.quote__ctr__content {
    font-size: 36px;
    font-style: italic;
}

.quote__ctr__author {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}


/* Sign up */
.sign-up {
    padding: 150px;
}

.sign-up__ctr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    border-radius: 10px;
    background: #3882F6;
    color: white;
}

.sign-up__ctr__call {
    display: flex;
    flex-direction: column;
}

.sign-up__ctr__call__h {
    font-size: 20px;
    font-weight: bold;
}

.sign-up__ctr__action {
    padding: 10px 40px;
    background: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}



/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #1F2937;
    color: white;
}